.link{
    font-weight:bold;
    text-decoration: none;
}

.forms{
    margin: 25vh auto;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(207, 207, 207);
    align-items: center;
    text-align: center;
    .form-head{
        text-align: center;
        font-weight: bold;
    }

    .form-field{
        padding: 10px;

        input{
            font-weight: bold;
            border-radius: 5px;
            padding: 10px;
        }
    }

}


