.account{
    display: flex;
    width: 100%;

    .accountContainer{
        flex: 20;
    }

    .useraccount{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        border-radius: 10px;
        margin : 10px;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        
        .image{
            flex: 1;
            text-align: center;

            img{
                height: 100;
                width: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .profile{
            flex: 2;

            form{
                display: flex;
                gap:10px;
                flex-wrap: wrap;

                .forminput{
                    width: 100;

                    label{
                       display: flex;
                       gap: 10px;
                       padding-top: 10px;
                       font-weight: bold;
                    }

                    input{
                        width: 100%;
                        padding: 5px;
                        border: none;
                        border: 1px solid gray;
                        border-radius: 5px;
                        
                        ::placeholder{
                            color: lightgray;
                        }
                    }
                }

                button{
                    width: 100px;
                    height: fit-content;
                    padding: 1px;
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                .form-error{
                    color:red;
                }
            }
        }
    }
}